---
layout: page
---
<style>
  .profile-socials {
    margin-top: 0.6rem;
    font-size: 1.3rem;
  }
  .profile-socials a {
    margin-right: 0.7rem;
    color: var(--global-theme-color);
  }
  .profile-socials a:hover {
    color: var(--global-text-color);
  }
</style>
<div class="post">
  <article>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr />
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% else %}
            {{ content }}
          {% endif %}
          {% if profile.social %}
            <div class="profile-socials">{% social_links %}</div>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>
